// import tachyons
@import "tachyons";

// init
@import "init";

// partials
@import "partials/menu";
@import "partials/header";


// patterns
@import "patterns/carousel";
@import "patterns/lightbox";


// extra

.m-auto {
  &-l {
    margin-left: auto;
  }

  &-r {
    margin-right: auto;
  }
}

body {
      font-family: 'Roboto', sans-serif;
}
